.articles_header{
  padding-top: 70px;
  padding-bottom: 12px;
}

.articles_header h4 {
  text-align: center;
  margin-bottom: 3px;
}

.topic_select_menu {
  margin-right: 10px;
  height: 20px;
  margin-bottom: 3px;
  align-self: center;
}


.articles_list_container {
  margin-bottom: 0;
  height: 80%;
}

.articles_list {
  height: 85vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: white;
}

.article_ul {
  position: relative;
  margin-block-start: 15vh;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  vertical-align: middle;
  max-width: 80%;
  margin-top: 22px;
}

.article_card {
  margin: 10px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  border-bottom: 1px solid grey;
}

.article_card h4 {
  padding: 5px 5px 10px 5px;
  margin: 0;
  font-size: 19px;
  font-family: 'Raleway';
  opacity: 1;
  z-index: 5;
  color: #27292E;
}

.article_card p {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 80%;
  color: black;
  font-weight: bold;
}

.article_card .read_more_button {
  border: none;
  margin: 5px;
  padding: 0;
  opacity: 0.5;
  transition: 0.2s;
  color: black;
  font-family: 'Raleway';
  font-weight: bolder;
  align-self: center;
  background: none;
}
.article_card .read_more_button:hover {
  opacity: 1;
}
.article_card .read_more_button:focus {
  opacity: 0.8;
}

.card_footer {
  background-color: none;
  margin: 0;
  padding: 0;
}

.loading {
  text-align: center;
  margin-top: 40vh;
  font-weight: bold;
}

@media only screen and (min-width: 939px) {

  .article_ul {
    display: flex;
    flex-wrap: wrap;
  }
  .article_card {
    min-height: 250px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    background: white;
    border: solid #acb4b6 2px;
    border-radius: 7px;
    padding: 1;
  }

  .card_body {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70px;
  }
  .card_header {
    background-color: white;
    height: 50px;
  }

  .card_footer {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    background-color: #314045;
    border-radius: 0px 0px 5px 5px;
  }

  .articles_header h4 {
    text-align: left;
    margin-bottom: 20px;
  }

  .article_ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .article_card .read_more_button {
    color: white;
  }

  .topic_select_menu {
    justify-self: flex-end;
  }
}

