.article_single {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin: 20px;
  max-width: 60%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.article_single h1{
  font-size: 150%;
  font-family: 'Raleway';
  font-weight: bold;
}

.article_single h4{
  margin-top: 1px;
  padding-top: 1px;
  font-size: 70%;
}

.article_body {
  font-size: 115%;
}

.comments_list {
  position: relative;
}

.home_button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
  border-color: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  opacity: 0.6;
  transition: 0.2s;
}
.home_button:hover {
  opacity: 1;
}

.vote_section {
  margin-top: 10px;
}

.votes_text {
  font-family: 'Raleway';
  font-weight: bolder;
}
.vote_section button {
  margin-right: 5px;
  border: none;
  border-color: none;
  background-color: none;
  font-size: 120%;
  color: red;
}

@media only screen and (max-width: 939px) {
  .article_single {
    max-width: 95%;
  }
}