.article_single {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin: 20px;
  padding: 10px;
}

.article_single h4{
  margin: 2px;
  padding: 2px;
  font-size: 50%;
  
}

.comments_list {
  position: relative;
  margin: 5vw;
}

.home_button {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.vote_section {
  margin-top: 10px;
}
.vote_section button {
  margin-right: 5px;
}