.articles_header {
  background-color: #93A8AC;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  position: fixed;
  z-index: 1;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
}

.articles_header h4 {
  padding-top: 1vh;
  font-size: 2.5vh;
  margin-block-start: 2.8%;
  min-height: 10px;
  
}

.topic_select_menu {
  height: 20px;
  margin-top: 4vh;
  margin-left: 10px;
  margin-block-start: 2.8%;
  align-self: center;
}


.articles_list {
  
  overflow: scroll;
  height:95vh;
  text-align: justify;
}

.article_ul {
  position: relative;
  margin-block-start: 15vh;
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  vertical-align: middle;
}

.article_card {
  margin: 10px;
  padding: 3px;
  background-color: #acc4c9;
  opacity: 0.8;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.article_card h4 {
  padding: 0;
  margin: 0;
  font-size: 100%;
  opacity: 1;
  z-index: 5;
}

.article_card p {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

.loading {
  text-align: center;
  margin-top: 40vh;
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .article_card {
    background-color: #acc4c9;
    width: 40vw;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .articles_header{
    padding-left: 3vw;
    justify-content: flex-start;

  }

  .article_ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .article_card .read_more_button {
    justify-self: flex-end;
  }

  .topic_select_menu {
    justify-self: flex-end;
  }
}

