

.comments_ul {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

.comment_item {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.comment_body {
  font-size: 70%;
}

.comment_author {
  font-size: 50%;
}

.comment_date {
  font-size: 50%;
}

.comment_votes {
  font-size: 70%;
}