.login_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: auto;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.login_form .username_input {
  align-self: center;
  text-align: center;
  width: 12rem;
  max-width: 400px;
  padding: 3px;
  margin: 10px;
}

.login_form .login_submit {
  align-self: center;
  width: 5rem;
  border:none;
  border-color: none;
  opacity: 0.7;
  font-family: 'Raleway';
  font-weight: bolder;
}
.login_form .login_submit:hover {
  opacity: 1;
}
.login_form .login_submit:focus {
  opacity: 1;
}

.login_text {
  text-align: center;
  margin-top: 30vh;
  font-weight: bold;
  font-size: 150%;
}