.navbar {
  background-color: #314045;
  height: 6vh;
  min-height: 30px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  padding-left: 1vw;
  padding-top: 1vh;
  display: flex;
}

.navbar_header {
  color: #FFFFFF;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0;
}

.navbar_route {
  color: #FFFFFF;
  /* margin: 1vw; */
  font-size: 20px;
  min-height: 10px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
  font-family: 'Raleway';
  margin-top: 16px;
  margin-left: 5px;
}

.login_btn {
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.6;
  transition: 0.2s;
  padding-right: 2.2vw;
  margin-left: 5px;
  /* margin-left: auto; */
}

.logout_btn {
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.6;
  transition: 0.2s;
  padding-right: 2.2vw;
  margin-left: 5px;
  margin-left: auto;
}

.sign_up_btn {
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.6;
  transition: 0.2s;
  padding-right: 2.2vw;
  margin-left: auto;
}
.navbar_route:hover {
  opacity: 1;
}
.navbar_route:focus {
  opacity: 1;
}

#navbar_button {
  justify-self: flex-end;
}