.navbar {
  background-color: #314045;
  height: 6vh;
  min-height: 30px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  padding-left: 1vw;
  padding-top: 1vh
}


.navbar_header {
  color: #FFFFFF;
  margin: 10px;
  font-size: 3.5vh;
  font-weight: bold;
  text-decoration: none;
  padding-top: 10px;
}

.navbar_route {
  color: #FFFFFF;
  margin: 1vw;
  font-size: 2.5vh;
  min-height: 10px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
  font-family: 'Raleway';
  font-weight: 600;
}

.login_btn {
  color: #FFFFFF;
  margin-right: 1vw;
  font-size: 2.5vh;
  min-height: 10px;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.2s;
  float:right;
  padding-right: 2.2vw;
}
.navbar_route:hover {
  opacity: 1;
}
.navbar_route:focus {
  opacity: 1;
}

#navbar_button {
  justify-self: flex-end;
}