body {
  background-color: #EDEDF2;
  min-width: 330px;
  color: #27292E;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Serif Pro', serif;
}

.error_message{
  color: red;
  font-size: 75%;
  margin-top: 0;
}

.error_image {
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}
